<div *ngIf="isLoggedIn" class="balance_page">
  <div *ngFor="let balance of balanceResult; index as i">
    <mat-card class="currency_card">
      <mat-card-title>
        Название валюты - {{balanceResult[i].currency}}
      </mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item>{{balanceResult[i].wallet}}-{{balanceResult[i].value}}</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div *ngIf="!isLoggedIn">
  <div>
    <h1>Подключите свой кошелек</h1>
  </div>
</div>
