.balance_page{
  display: grid;
  grid-template-columns: fit-content(100%);
  grid-auto-rows: fit-content(100%);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

.currency_card{
  border-radius: 5px;
  padding: 5px;
}

.balance_web_name{
  padding: 10px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

.wallet_finder {
  width: 300px;
  display: grid;
  grid-row-gap: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

