<mat-toolbar class="toolbar">
  <div class="topnav_content">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" id="web_menu">
      <div mat-menu-item class="menu_item">
        <button mat-raised-button routerLink="seed-generation" style="display: block;
    width: 100%;">
          Генерация seed фразы
        </button>
      </div>
      <div mat-menu-item class="menu_item">
        <button mat-raised-button routerLink="balance" style="display: block;
    width: 100%;">
          Баланс
        </button>
      </div>
      <div mat-menu-item class="menu_item">
        <button mat-raised-button routerLink="wallet-generation" style="display: block;
    width: 100%;">
          Генерация кошелька
        </button>
      </div>
    </mat-menu>
    <a routerLink="">
      <img src="assets/images/broken-coin-minimal-icon.png" width="30px" height="30px">
    </a>
    <p class="web_name">C0inBreak</p>
  </div>
  <span style="flex: 1 1 auto;"></span>
  <button mat-raised-button style="border-radius: 5px">Подключить кошелек</button>
</mat-toolbar>

<router-outlet style="grid-area: b"></router-outlet>





