<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side" style="height: 100%">
    <button mat-fab routerLink="seed-generation">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-fab>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a style="
      font-family: AppleGothic;
      font-size: 18px;
      color: #4682B4;
      border: black;"
    >C0inBreak</a>
  </div>
</mat-drawer-container>

<router-outlet></router-outlet>


