.topnav_content{
  display: flex;
  column-gap: 15px;
}
.toolbar{
  background: white;
  margin-left: 15px;
  width: 98%;
  grid-area: a;
  border-radius: 15px;
  align-items: center;
  justify-items: center;
}

.web_name{
  font-family: 'Lucida', monospace;
  font-size: 18px;
  color: #4682B4;
  border: black;
}

.menu_item{
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

